@model IEnumerable<Cinepax.Models.Transaction>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Client</th>
                            <th scope="col">Description</th>
                            <th scope="col" class="text-right">Solde Avant</th>
                            <th scope="col" class="text-right">Montant de la transaction</th>
                            <th scope="col" class="text-right">Solde après</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.User.FirstName @item.User.Lastname</td>
                                <td>@item.Description</td>
                                <td class="text-right">@item.AmountBefore</td>
                                <td class="text-right">@item.Projection.Price</td>
                                <td class="text-right">@item.AmountAfter</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


